# Dependency directories
node_modules/
apps/*/node_modules/
packages/*/node_modules/

# Turbo
.turbo/
apps/*/.turbo/
packages/*/.turbo/

# Build Outputs
dist/
apps/*/dist/
packages/*/dist/
.next/
apps/*/.next/
out/
apps/*/out/
build/
apps/*/build/
packages/*/build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/*/.env
apps/*/.env.local
apps/*/.env.development.local
apps/*/.env.test.local
apps/*/.env.production.local

# Vercel
.vercel/

# Testing
coverage/
apps/*/coverage/
packages/*/coverage/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
